html {
  background-color:#c9b5ab;
  line-height: 1.5;
}

article {
  font-family: "PT Serif", serif;
}

h1 {
  font-weight: normal;
  font-family: "PT Sans", sans-serif;
  color:#3f1622;
  font-size: 1.5rem;
  font-weight: 700;

}

h2 {
  color:#3f1622;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

img {
  width:100%;
}

.quote {
  font-size:1.5rem;
  line-height:1.5;
}

figcaption {
  text-align:center;
  font-style: italic;
}

.days p {
  font-size:1.125rem;
  line-height:1.5;
  font-weight:bold;

}

.chris cite {
  text-align:center;
}

p {
  text-decoration: none;
}

.olone {
  list-style-type: lower-latin;
}

a:hover {
  text-decoration: none;
  color:#222;
}

a[rel="external"] {
  background-color: #c9b5ab;

}

nav li {
  list-style: none;
}

a,
nav li {
  color: #8f2440;
  font-family:"PT Sans", sans-serif;
  font-size: 1.125rem;
  text-decoration: none;
}

blockquote {
  font-size: 1.5rem;
  font-weight: 700;
  font-style: italic;
}

#ul {
  list-style-type: circle;
}
